.NavContainer{
    display: flex;
    width: 100%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #ecab4e;
}

.Logo{
    display: -webkit-inline-box;
    margin: 1% 1% 1% 1%;

}
.Logo a{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
   text-decoration: none;
   font-weight: 700;
}
.LogoFragment2{
     border: 1px solid #f09415;
    background-color: #f09415;
    border-radius: 8px;
    color: #000;
    font-weight: 700;
    
   
}

.SearchBar  input {
  
    width: 800px;
    height: 40px ;
    background-color: rgba(67,59,54,.9);
    border: none;
    border-radius: 3px;
    margin: 1% 1% 1% 1%;
    padding: 0;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 1.2rem;
    padding-left: 1%;

}
.Label{
    position: relative;
    color: rgb(206, 199, 199);
    margin: 1% 1% 0% 1% !important;
    padding-left: 0% !important;
    font-size: 1.1rem;
    font-weight: 700;
}


.SearchBar {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0) !important;
    opacity: 0.8;
}


@media(max-width:770px){
    .Logo{
       margin: 1% auto;
    }
    .Label{
        text-align: center;
        font-size: 1rem;
    }
    .SearchBar  input{
       width: 100%;
       margin: 1% 0%;
       padding: 0;
        }
    .NavContainer{
        display:grid;
    }
}