body{
    background-color: rgb(0, 0, 0);
    font-family: Arial,Helvetica,sans-serif;
}
.VideoPrimaryFull{
    margin-bottom: 5%;
}

.VideoSideListFull{
    
    background-color: rgba(67,59,54,.9);
    border-radius: 3px;
    padding: 0.5%;
}

@media(max-width: 770px){
    .VideoSideListFull{
        width: 98%;
        margin: auto !important;
        border-radius: 0px;
    }
}